<div class="home-wrapper">
    <div class="overlay">
      <div class="logo-title">
        <h1 class="title">EvalEase</h1>
        <p class="subtitle">A Student-Teacher Platform</p>
      </div>
  
      <div class="card-container">
        <button mat-raised-button color="primary" class="role-button" [routerLink]="['/student']">
          I'm a Student
        </button>
        <button mat-raised-button color="accent" class="role-button" [routerLink]="['/teacher']">
          I'm a Teacher
        </button>
      </div>
    </div>
  </div>
  